.home footer {
    background-color: #42DDF5;
    margin: 10px;
}
.home footer .listas {
    display: none;
}
.home footer h3 {
    display: none;
}
.home footer .logos{
    display: flex;
    justify-content: space-around;
}
.home footer .logos .facebook a img{
    width: 100%;
}
.home footer .logos .instagram a img{
    width: 100%;
}
.home footer .logos .youtube a img{
    width: 100%;
}
.home footer .logos .wsp a img{
    width: 100%;
}
.home footer .logos .facebook{
    width: 509%;
    padding: 14px 0 0 5px;
}
.home footer .logos .instagram{
    width: 450%;
    padding-top: 18px;

}
.home footer .logos .youtube{
    width: 540%;
    padding: 22px 0 0 10px;

}
.home footer .logos .wsp{
    width: 700%;
    padding-top: 21px;

}
