.registro-login header{
    background-color: #42DDF5;
    margin: 10px;
    width:94%;
}
.registro-login header nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
 
}
.registro-login header nav .bars {
    padding-top: 23px ;
    font-size: 30px;
}
.registro-login header nav .busqueda {
    display: flex;
    width: 30%;
    border-radius: 15px;
    padding-top: 20px;
}
.registro-login header nav .logo {
    width: 30%;}

.registro-login header nav .logo img{
    width: 100%;
   
}
.registro-login header nav .busqueda input {
    width: 100%;
    
}
.registro-login header nav .carrito-login {
    display: flex;
    font-size: 25px;
    margin: 18px 0px 0px -27px;
}

.registro-login header nav .enlaces {
    display: none;
}


.registro-login header nav .box-form {
    display: none;
}




/* tablet */
@media (min-width: 769px) {
   /*  header */
    .registro-login header{
        background-color: #42DDF5;
        margin: 16px;
        width:96%;
    }
    .registro-login header nav{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    
    }
    .registro-login header nav .bars {
        padding-top: 50px ;
        font-size: 45px;
        margin-left: -30px;
        
    }
    .registro-login header nav .busqueda {
        display: flex;
        width: 45%;
        border-radius: 15px;
        padding-top: 80px;
        margin-left: -30px;
    }
    .registro-login header nav .busqueda form{
        width: 100%;
    }
    .registro-login header nav .logo {
        width: 30%;
        margin: 0px 0px 0 -28px;
        
    }
    
    .registro-login header nav .logo img{
        width: 100%;
        background-image: #42DDF5;
    }
    .registro-login header nav .busqueda input {
        width: 100%;
        
    }
    .registro-login header nav .carrito-login {
        display: flex;
        width: 9%;
        font-size: 45px;
        margin: 50px 30px 0px -27px;
    }
    
    .registro-login header nav .enlaces {
        display: none;
    }
    
    
    .registro-login header nav .box-form {
        display: flex;
        background-color: black;
        color: white;
        width: 100%;
    }
    .registro-login header nav .box-form a{
        color: white;
        padding-left:5px ;

    }
}




/* desktop */
@media (min-width:1024px) {
    .registro-login header nav .enlaces {
        display: flex;
        font-size: 25px;
        margin-top: 90px;
    }
    .registro-login header nav .enlaces .registrarse{
        margin-left: 17px;
        
    }
    .registro-login header nav .enlaces .registrarse a{
        color: black;
        
    }
    .registro-login header nav .enlaces .ingresar a{
        color: black;
        
    }
    .registro-login header nav .carrito-login {
        display: none;
    
    }
    .registro-login header nav .busqueda {
        width: 30%;
        
    }
    


}