@import url("./carrito.css");
@import url("./detalleProducto.css");
@import url("./footer.css");
@import url("./general.css");
@import url("./header.css");
@import url("./home.css");
@import url("./login.css");
@import url("./register.css");
@import url("./formulario.css");