<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Carrito</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="carrito-body">
    <header class="header-carrito">
        <div>
            <a href=""><h2>x</h2></a>
            <h3>Carrito de compras</h3>
        </div>
    </header>
    <main>
        <div class="product-price-details">
            <img src="/img/juego.jpg" alt="">
            <h5>Resident Evil 2 remake</h5>
            <i class="fas fa-trash"></i>
            <p>13.500</p>
            <div>
                <p> - 1 + </p>
            </div>
        </div>
        <div class="info-shipping">
            <h5>Subtotal (sin envío): $13.500</h5>
            <i class="fas fa-truck"></i>
            <h6>Medios de envío</h6>
            <h3>Codigo postal y el calcular</h3>
            <i class="fas fa-store-alt"></i>
            <h6>Nuestro local</h6>
            <div>
                <p>Zukuna Store- Av. Chiringolo 988 70y Galería Boulevard</p>
            </div>
        </div>
        <div class="total">
            <h3>Total: $13.500</h3>
            <h5>O hasta 12 cuotas de $1.125,00</h5>
            <button>INICIAR COMPRA</button>
            <button>Ver más productos</button>
        </div>
    </main>
    <footer>

    </footer>
</body>

</html>