<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Details</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="body-product-detail">
    <header>
        <!-- menu hamburguesa -->
        <nav>
            <div class="bars"><i class="fas fa-bars"></i></div>
            <!--  logo principal -->
            <div class="logo">
                <a href="/"><img src="/img/zukuna store.png" alt="" /></a>
            </div>

            <!-- buscador-->
            <div class="busqueda">
                <form action=""><input type="text" placeholder="Busqueda" /></form>
                <button><i class="fas fa-search"></i></button>
            </div>
            <!--  register y login -->
            <ul class="enlaces">
                <li class="ingresar"><a href="/login">Ingresar</a></li>
                <li class="registrarse">
                    <a href="/register">Registrarse</a>
                </li>
            </ul>
            <!--  iconos carrito y login -->
            <ul class="carrito-login">
                <li>
                    <a href="/login"><i class="fas fa-user"></i></a>
                </li>
                <li>
                    <a href="/carrito"><i class="fas fa-shopping-cart"></i></a>
                </li>
            </ul>

            <!--  form con categorias -->
            <div class="box-form">
                <select name="categorias" id="categorias">
                    <option value="" select hidden>Categorias</option>
                    <option value="notebook">Notebook</option>
                    <option value="auriculares">Auriculares</option>
                    <option value="monitores">Monitores</option>
                    <option value="hardware">Hardware</option>
                    <option value="mouses">Mouses</option>
                </select>
                <a href="">Ofertas</a>
                <a href="">Contacto</a>
            </div>
        </nav>
    </header>


    <main>
        <section>
            <div class="product">
                <div>
                    <h3>Redragon Teclado Mecánico K530 Draconic Blanco</h3>
                </div>
                <div class="img-teclado"><img src="/img/teclado.jpg" alt="" width="100%"></div>
                <div class="adapt">
                    <div>
                        <p>$9.760</p>
                    </div>
                    <div>
                        <p>Precio en cuotas sin interés con las siguientes tarjetas</p>
                    </div>
                    <div class="cards">
                        <img src="/img/visa-logo.jpg" alt="">
                        <img src="/img/mastercard-logo.jpg" alt="">
                        <img src="/img/maestro-logo.jpg" alt="">
                    </div>
                    <div>
                        <ul>
                            <div class="icon-caracteristicas">
                                <i class="fas fa-check-circle"></i>
                                <p>Hay stock</p>
                            </div>
                            <div class="icon-caracteristicas">
                                <i class="fas fa-store"></i>
                                <p>Retiro ¡GRATIS! por la sucursal</p>
                            </div>
                            <div class="icon-caracteristicas">
                                <i class="fas fa-truck"></i>
                                <p>Envios a todo el país</p>
                            </div>
                            <div class="icon-caracteristicas">
                                <i class="fas fa-shield-alt"></i>
                                <p>Garantia 30 días</p>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="botones">
                <button>Comprar ahora</button>
                <button>Agregar al carrito<i class="fas fa-shopping-cart"></i></button>
            </div>
            <div class="especificaciones-product">
                <h3>Especificaciones del producto</h3>
                <p>- DRACONIC K530RGB:
                    Diseño minimalista, compacto y eficaz. Sin olvidar la calidad en nuestros periféricos.</p>
                <p>- Conectividad:
                    Con el Draconic podrás conectarte de forma inalámbrica o cableada. Por medio de la conexión
                    Bluetooth 5.0 con el que podremos conectar hasta 3 plataformas. También tendremos la posibilidad
                    de
                    conectar de forma cableada a través de su cable USB Type-C</p>
                <p>- Switches Outemu Brown:
                    El Draconic es un teclado de 60% que cuenta con 61 teclas con switches Outemu MK2 Brown, un
                    switch
                    balanceado de sensación táctil y poco audible, con una fuerza de actuación necesaria de tan solo
                    45
                    gramos, obtendremos una respuesta infalible tanto para jugar como para el uso cotidiano.</p>
                <p>- Iluminación RGB:
                    La iluminación del Draconic consta de 13 preset incorporados, configurables para el gusto y
                    comodidad del usuario, logrando un resultado óptimo basado en sus necesidades.</p>
            </div>
        </section>
    </main>
    <footer>
        <!--  categorias -->
        <div class="listas">
          
          <div class="categorias">
            <h3>Categorias</h3>
            <ul>
              <li><a href="">Notebook</a></li>
              <li><a href="">Auriculares</a></li>
              <li><a href="">Monitores</a></li>
            </ul>
          </div>
  
          <div class="marcas">
            <h3>Marcas</h3>
            <ul>
              <li><a href="">Lenovo</a></li>
              <li><a href="">Acer</a></li>
              <li><a href="">Hp</a></li>
            </ul>
          </div>
  
          <div class="mas-buscado">
            <h3>lo mas buscado</h3>
            <ul>
              <li><a href="">Monitores</a></li>
              <li><a href="">Teclados</a></li>
              <li><a href="">Mouses</a></li>
            </ul>
          </div>
        </div>
        <!--  redes -->
  
        <div class="logos">
          <h3 class="seguinos">Seguinos en redes!</h3>
          <div class="facebook"> 
            <a href=""><img src="/img/facebook-logo.jpg" alt=""></i></a>
          </div>
          <div class="instagram">
            <a href=""><img src="/img/instagram-logo.jpg" alt=""></i></a>
          </div>
          <div class="youtube">
            <a href=""><img src="/img/youtube-logo.jpg" alt=""></i></a>
          </div>
  
          <div class="wsp">
            <h3>Contactanos</h3>
            <a href=""><img src="/img/whatsapp-logo.jpg" alt=""></i></a>
          </div>
        </div>
      </footer>
</body>

</html>