<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <title>Zukuna store</title>
  </head>
  <body class="home">
    <header>
      <!-- menu hamburguesa -->
      <nav>
        <div class="bars"><i class="fas fa-bars"></i></div>
        <!--  logo principal -->
        <div class="logo">
          <a href="/"><img src="/img/zukuna store.png" alt="" /></a>
        </div>

        <!-- buscador-->
        <div class="busqueda">
          <form action=""><input type="text" placeholder="Busqueda" /></form>
          <button><i class="fas fa-search"></i></button>
        </div>
        <!--  register y login -->
        <ul class="enlaces">
          <li class="ingresar"><a href="/views/login.html">Ingresar</a></li>
          <li class="registrarse">
            <a href="/views/register.html">Registrarse</a>
          </li>
        </ul>
        <!--  iconos carrito y login -->
        <ul class="carrito-login">
          <li>
            <a href="/views/login.html"><i class="fas fa-user"></i></a>
          </li>
          <li>
            <a href="/views/carrito.html"
              ><i class="fas fa-shopping-cart"></i
            ></a>
          </li>
        </ul>

        <!--  form con categorias -->
        <div class="box-form">
          <select name="categorias" id="categorias">
            <option value="" select hidden>Categorias</option>
            <option value="notebook">Notebook</option>
            <option value="auriculares">Auriculares</option>
            <option value="monitores">Monitores</option>
            <option value="hardware">Hardware</option>
            <option value="mouses">Mouses</option>
          </select>
          <a href="">Ofertas</a>
          <a href="">Contacto</a>
        </div>
      </nav>
    </header>
    <main>
      <div class="banner">
        <img src="" alt="" />
      </div>

      <h3>Destacados de la semana</h3>
      <div class="img-destacadas">
        <div class="img1"><a href=""><img src="" alt=""></a></div>
        <div class="img2"><a href=""><img src="" alt=""></a></div>
        <div class="img3"><a href=""><img src="" alt=""></a></div>
      </div>
      <h3>¿Que estas buscando?</h3>
    </main>
    <footer>
      <!--  categorias -->
      <div class="listas">
        <h3>Categorias</h3>
        <div class="categorias">
          <ul>
            <li><a href="">Notebook</a></li>
            <li><a href="">Auriculares</a></li>
            <li><a href="">Monitores</a></li>
          </ul>
        </div>

        <div class="marcas">
          <h3>Marcas</h3>
          <ul>
            <li><a href="">Lenovo</a></li>
            <li><a href="">Acer</a></li>
            <li><a href="">Hp</a></li>
          </ul>
        </div>

        <div class="mas-buscado">
          <h3>lo mas buscado</h3>
          <ul>
            <li><a href="">Monitores</a></li>
            <li><a href="">Teclados</a></li>
            <li><a href="">Mouses</a></li>
          </ul>
        </div>
      </div>
      <!--  redes -->

      <div class="logos">
        <h3>Seguinos en redes!</h3>
        <div class="facebook">
          <a href=""><i class="fab fa-facebook"></i></a>
        </div>
        <div class="instagram">
          <a href=""><i class="fab fa-instagram"></i></a>
        </div>
        <div class="youtube">
          <a href=""><i class="fab fa-youtube"></i></a>
        </div>

        <div class="wsp">
          <h3>Contactanos</h3>
          <a href=""><i class="fab fa-whatsapp"></i></a>
        </div>
      </div>
    </footer>
  </body>
</html>
