<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <title>Zukuna store</title>
  </head>
  <body class="home">
    <header>
      <nav>
        <div class="logo">
          <a href="/"><img src="/img/zukuna store.png" alt="" /></a>
        </div>
        <ul class="search">
          <li class="buscador">Buscador</li>
          <li class="logo-lupa"><i class="fas fa-search"></i></li>
        </ul>

        <ul class="enlaces">
          <li class="ingresar"><a href="/views/login.html">Ingresar</a></li>
          <li class="registrarse">
            <a href="/views/register.html">Registrarse</a>
          </li>
          <li class="carrito">
            <a href="/views/carrito.html"
              ><i class="fas fa-shopping-cart"></i
            ></a>
          </li>
        </ul>
      </nav>
    </header>
    <main></main>
    <footer></footer>
  </body>
</html>
