<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title>Details</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="registro-login">

    <header class="header-product-detail">
        <nav>
            <div class="logo">
                <div class="burger"><i class="fas fa-bars"></i></div>
                <img src="/img/zukuna store.png" alt="" /></a>
            </div>
            <ul class="search">
                <li class="buscar">Buscador</li>
                <li class="lupa"><i class="fas fa-search"></i></li>
            </ul>
            <ul class="ingresar-registrar">
                <li><a href="">Ingresar</a></li>
                <li><a href="">Registrarse</a></li>
            </ul>
            <ul class="login-carrito">
                <a href="">
                    <li class="usuario"><i class="fas fa-user"></i></li>
                </a>
                <a href="">
                    <li class="carrito"><i class="fas fa-shopping-cart"></i></li>
                </a>
            </ul>
        </nav>
    </header>

    

<main>
<br>

    <div class='contenedor'>
        <form action="">  

            <h2 class="fuente2"> Ingresá</h2>
   <!--userName-->
   <div class='container-input'>
    <input type= "text" placeholder= "Nombre de usuari@" name= "userName";>
        
    </div>

    

    <!--contraseña-->
<div class='container-input'>
    <input type= "password" placeholder= "Contraseña" name= "userName";>
        
    </div>

 

<!--Botones-->
<div class='container-buttons'>
<button type="submit"> Ingresar </button>     
  
    </div>


        </form>


    </div>

</main>

<br>

<footer>
    <!--  categorias -->
    <div class="listas">
      
      <div class="categorias">
        <h3>Categorias</h3>
        <ul>
          <li><a href="">Notebook</a></li>
          <li><a href="">Auriculares</a></li>
          <li><a href="">Monitores</a></li>
        </ul>
      </div>

      <div class="marcas">
        <h3>Marcas</h3>
        <ul>
          <li><a href="">Lenovo</a></li>
          <li><a href="">Acer</a></li>
          <li><a href="">Hp</a></li>
        </ul>
      </div>

      <div class="mas-buscado">
        <h3>lo mas buscado</h3>
        <ul>
          <li><a href="">Monitores</a></li>
          <li><a href="">Teclados</a></li>
          <li><a href="">Mouses</a></li>
        </ul>
      </div>
    </div>
    <!--  redes -->

    <div class="logos">
      <h3 class="seguinos">Seguinos en redes!</h3>
      <div class="facebook"> 
        <a href=""><img src="/img/facebook-logo.jpg" alt=""></i></a>
      </div>
      <div class="instagram">
        <a href=""><img src="/img/instagram-logo.jpg" alt=""></i></a>
      </div>
      <div class="youtube">
        <a href=""><img src="/img/youtube-logo.jpg" alt=""></i></a>
      </div>

      <div class="wsp">
        <h3>Contactanos</h3>
        <a href=""><img src="/img/whatsapp-logo.jpg" alt=""></i></a>
      </div>
    </div>

</footer>
</body>

</html>