.body-product-detail{
    background-color: #ebebeb;
}

.body-product-detail h3:first-child{
     text-align: center;
     margin: 15px;
     font-size: 18px;
}

.body-product-detail .product img{
    width: 100%;
}

.body-product-detail .product{
    display:flex;
    flex-wrap: wrap;
    text-align:center;
}

.body-product-detail .price{
    font-size: 27px;
    font-weight: 600;
    margin: 3px;
}

.body-product-detail main section{
    background-color: #fafafa;
    margin: 10px;
    border-radius: 10px;
    padding: 5px;
}

.body-product-detail main section div ul{
    text-align:center;
}

.cards{
    display:flex;
    justify-content:center center;
    flex-wrap: nowrap;
    width: 20%;
    align-items: center;
    margin: 20px 0px 20px 0px;
}

.cards img{
    margin-left: 20px;
}

.icon-caracteristicas{
    display: flex;
    margin: 10px 0px 10px 20px;
}

.icon-caracteristicas p{
    margin: 0px 0px 0px 9px;
}

.botones{
    display:flex;
    flex-direction: column;
    margin: 0px 0px 30px 0px;
}

.botones button{
    margin: 10px 60px 0px 60px;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
    color: white;
}

.especificaciones-product{
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 50px 0px;
    padding: 10px
}


@media (min-width: 769px){
    
    .body-product-detail .product .img-teclado {
        width: 50%;
    }

    .body-product-detail .adapt{
        width: 50%;
    }
    
    .body-product-detail .product{
         flex-wrap: nowrap;
    }

    .body-product-detail h3:first-child{
        text-align: center;
        margin: 15px;
        font-size: 20px;
    }

    .body-product-detail .product p{
        font-size: 19px;
        margin: 10px;
    }

    .body-product-detail .price p{
        font-size: 40px;
        font-weight: 800;
    }

    .cards{
        width: 15%;
        margin-left: 90px;
    }
    
    .adapt{
        width: 50%;
    }

    .botones{
        flex-direction: row;
        justify-content: space-between;
        margin: 0px 0px 30px 0px;
    }

    .botones button{
        width: 600%
    }
}

@media (min-width: 1024px){

    .body-product-detail .icon-caracteristicas{
        font-size: 28px;
    }

    .body-product-detail .price p{
        font-weight: 900;
    }

    .body-product-detail .cards{
        width: 10%;
    }

   .body-product-detail .product .img-teclado {
        width: 40%;
    }

    .body-product-detail .adapt{
        width: 60%;
    }

    .body-product-detail .botones button{
        padding: 25px;
        font-size: 22px;
        margin-top: 60px;
    }
    
    .body-product-detail .especificaciones-product{
        width: 70%;
        margin-left: 20px;
    }
}
