div.row{
    margin: 0 auto;
    padding: 0px;
}
div.card-header{
    margin-top: 60px;
}
h4.usuario{
   color: white; 
}
form.row{
    padding: 0px;
    padding-top: 15px;
}
div.card-body{
    padding: 0px;
    margin: 0 auto;
    margin-bottom: 60px;
}
div.col-12{
    margin-left: 20px;
}

input .name{
    padding: 40px;
}

div.card{
    margin-bottom: 50px;
}
.registro-login a{
 text-decoration: none;
}

.registro-login {
    background-color: hsl(0, 0%, 92%);
   
}
.registro-login .contenedor {
    width: 90%;
    margin: 0 auto;
    max-width: 450px;
    border-radius: 10px;
    padding-bottom: 39px;
    padding-top: 39px;
    
    background-color: #c9c8c8;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
    box-shadow: 0 3px 10px rgb(0 0 0 );
}
    
.registro-login .contenedor form {
     width: 90%;
     margin: 0 auto;  
     max-width: 375px;
     font-family: open sans;
        
}
.registro-login .container-input input{
    font-size: 15px;
    border-radius: 5px;
    border: solid 1px white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 900;
    padding: 10px;
    width: 100%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 40%);
}

.registro-login  .container-buttons{
display: flex;
justify-content: space-evenly;

}
.registro-login  .container-buttons button{
   background-color: rgb(0, 192, 0);
   border-radius: solid 5px white;
   font-weight: 900;
   padding: 8px;
   border: none;
   margin-top: 10px;
   font-size: 15px;
   color: white;
}
.registro-login  .container-buttons button:hover{
    background-color: green;
}

.registro-login  .container-buttons button#cancelar{
    background-color: rgb(255, 62, 62);
    border-radius: solid 5px white;
    font-weight: 900;
    padding: 8px;
    border: none;
    margin-top: 10px;
    font-size: 15px;
    color: white;
 }
 .registro-login  .container-buttons button#cancelar:hover{
     background-color: red;
 }

    
.fuente2{
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 20px;
      margin-bottom: 10px;
}

.registrarse{
    display: contents;

}

.registrarse a{
    margin-left: 38%;
    margin-right: 62%;
    color: grey;
    text-decoration: none;
    font-weight: 600;

}

/*------------------generador contraseñas ----------------------*/
    
.registro-login main .contenedor .botons button {
    width: 100px;
    border-radius: 10px;
}
.registro-login main .contenedor .botons button:hover {
    background-color: #37c733;
}




.container{
    display: flex; flex-direction: column;
    max-width: 400px;  padding: 40px;
    background: #fff; border-radius: 20px;
    border: 1px solid rgb(26,1,247); box-shadow: 0px 20px 20px rgba(0,0,0,0.3);
}

.el { display:flex; flex-direction: column}

.sugerencia {
text-align: center;  margin-bottom: 20px;
font-size: 15px;
}

.inp{ padding: 8px; color: #000;
font-family: 'Josefine sans', sans-serif ; font-weight: 800; 
text-align: center; border: 2px solid rgb(43,43,58);
border-radius: 4px;
}

.inp:focus{outline: none;}

.botons button{
    width: 40px; margin-left: 8px;
    border: 2px solid rgb(43,43,58);
    border-radius: 4px; transition: 0.2s; 
}
.botons button:hover{ background: #000;  color: #fff;}

.info{margin: 0 50px 0px 50px;    background: rgb(0 43 255 / 40%);
    padding: 7px 0 7px 0px; opacity: 0; text-align: center;
    transition: 0.15s; animation: slideIn 1.5s linear forwards;
}








    /* desktop */
@media (min-width: 1024px){

.registro-login .contenedor {
    margin-top: 80px;
    margin-bottom: 80px;
    padding-top: 50px;
    padding-bottom: 50px;
}
 
}
    
    
    