.home{
    background-color: #C4C4C4;
}
.home h3 {
text-align: center;
margin-top: 10px;}

.home main .conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.home main .img-destacadas {
    width: 100%;
    display: flex;
    justify-content: space-around;
    
    margin-top: 5px;
    
}
.home main .img-destacadas img{
    width: 100%;
}
.home main .img-destacadas .img1 {
    width: 70%;
    background-color:hsl(188, 90%, 61%) ;
    
    margin-top: 10px;
    transition: all ease 0.3s;
}
.home main .img-destacadas .img1:hover{
box-shadow: 0px 2px 0px 1px rgb(0 0 0 / 27%);
transform: scale(1.03);
}

.home main .img-destacadas .img1 img{
    height: 59%;
    
}

.home main .img-destacadas .img2{
    width: 70%;
    background-color:#42DDF5 ;
    margin-top: 10px;
    transition: all ease 0.3s;

}
.home main .img-destacadas .img2:hover{
     box-shadow: 0px 2px 0px 1px rgb(0 0 0 / 27%);
     transform: scale(1.03);
}


.home main .img-destacadas .img3{
    width: 70%;
    background-color:#42DDF5 ;
    margin-top: 10px;
    transition: all ease 0.3s;
}
.home main .img-destacadas .img3:hover{
     box-shadow: 0px 2px 0px 1px rgb(0 0 0 / 27%);
     transform: scale(1.03);
}
.home main .img-destacadas .img4{
    width: 70%;
    background-color:#42DDF5 ;
    margin-top: 10px;
    transition: all ease 0.3s;
}
.home main .img-destacadas .img4:hover{
    box-shadow: 0px 2px 0px 1px rgb(0 0 0 / 27%);
    transform: scale(1.03);
}
.home main .img-destacadas .carrito-compra {
    text-align: center;
    background-color: #000000;   
    margin: 2px 92px;
    border-radius: 50%;
}
.home main .img-destacadas .carrito-compra i{
    color: #ffffff;
}
.home main .img-destacadas p,h2 {
    text-align: center;
    margin:0
}
.home main .icons {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 40px;
    justify-content: center;
    }
   

.home main .icons .headphones {
    width: 45%;
    background-color: #ffffff;
    margin: 3px;
    transition: all ease 0.3s;
} 
.home main .icons .headphones:hover{
    box-shadow: 0px 2px 0px 1px rgb(0 0 0 / 27%);
    transform: scale(1.03);

}

.home main .icons .game{
    width: 45%;
    background-color: #ffffff;
    margin: 3px;
    transition: all ease 0.3s;
}
.home main .icons .game:hover{
    box-shadow: 0px 2px 0px 1px rgb(0 0 0 / 27%);
    transform: scale(1.03);

}
.home main .icons .mouse{
    width: 45%;
    background-color: #ffffff;
    margin: 3px;
    transition: all ease 0.3s;
}
.home main .icons .mouse:hover{
    box-shadow: 0px 2px 0px 1px rgb(0 0 0 / 27%);
    transform: scale(1.03);
}
.home main .icons .sd-card{
    width: 45%;
    background-color: #ffffff;
    margin: 3px;
    transition: all ease 0.3s;
}
.home main .icons .sd-card:hover{
    box-shadow: 0px 2px 0px 1px rgb(0 0 0 / 27%);
    transform: scale(1.03);
}

.home main .icons .laptop{
    width: 45%;
    background-color: #ffffff;
    margin: 3px;
    display: none;
    transition: all ease 0.3s;
}
.home main .icons .laptop:hover{
    box-shadow: 0px 2px 0px 1px rgb(0 0 0 / 27%);
    transform: scale(1.03);
}
.home main .icons .usb{
    width: 45%;
    background-color: #ffffff;
    margin: 3px;
    display: none;
    transition: all ease 0.3s;
}
.home main .icons .usb:hover{
    box-shadow: 0px 2px 0px 1px rgb(0 0 0 / 27%);
    transform: scale(1.03);
}
.home main .icons .mobile{
    width: 45%;
    background-color: #ffffff;
    margin: 3px;
    display: none;
    transition: all ease 0.3s;
}
.home main .icons .mobile:hover{
    box-shadow: 0px 2px 0px 1px rgb(0 0 0 / 27%);
    transform: scale(1.03);
}
.home main .icons .microfono{
    width: 45%;
    background-color: #ffffff;
    margin: 3px;
    display: none;
    transition: all ease 0.3s;
}
.home main .icons .microfono:hover{
    box-shadow: 0px 2px 0px 1px rgb(0 0 0 / 27%);
    transform: scale(1.03);
}
.home main #carouselExampleIndicators{
    display: none;
}
/* tablet */
@media (min-width: 769px){
    .home main #carouselExampleIndicators{
        display: flex;
}
.home main .img-destacadas {
    width: 23%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 5px;
    
}

.home main .img-destacadas .img1 {
    width: 100%;
}
.home main .img-destacadas .img1 img{
    height: 177px;
}

.home main .img-destacadas .img2 {
    width: 23%;
}
.home main .img-destacadas .img3{
    width: 23%;
    display: inline-block;
}
.home main .img-destacadas .img4{
    width: 23%;
    display: inline-block;
}
.home main .img-destacadas p,h2 {
    text-align: center;
    margin:0;
    font-size: 25px;
}
.home main .img-destacadas .carrito-compra {
    text-align: center;
    background-color: #000000;   
    margin: 2px 70px;
    border-radius: 50%;
}
.home main .img-destacadas .carrito-compra i{
    color: #ffffff;
}
.home main .icons .laptop{
    display: flex;
    justify-content: center;
}.home main .icons .usb{
    display: flex;
    justify-content: center;
}.home main .icons .mobile{
    display: flex;
    justify-content: center;
}.home main .icons .microfono{
    display: flex;
    justify-content: center;

}
}
/* desktop */
@media (min-width: 1024px){
    .home main .img-destacadas .img1 img{
        height: 51%;
    }
    .home main .img-destacadas .carrito-compra{
        margin: 2px 95px;
    }
}