<footer>
    <!--  categorias -->
    <div class="listas">
      
      <div class="categorias">
        
        <ul>
          <h3>Categorias</h3>
          <li><a href="">Notebook</a></li>
          <li><a href="">Auriculares</a></li>
          <li><a href="">Monitores</a></li>
        </ul>
      </div>

      <div class="marcas">
        
        <ul>
          <h3>Marcas</h3>
          <li><a href="">Lenovo</a></li>
          <li><a href="">Acer</a></li>
          <li><a href="">Hp</a></li>
        </ul>
      </div>

      <div class="mas-buscado">
        
        <ul>
          <h3>lo mas buscado</h3>
          <li><a href="">Monitores</a></li>
          <li><a href="">Teclados</a></li>
          <li><a href="">Mouses</a></li>
        </ul>
      </div>
    </div>
    <!--  redes -->

    <div class="logos">
      <h3 class="seguinos">Seguinos en redes!</h3>
      <div class="facebook"> 
        <a href=""><img src="/images/logos/facebook-logo.jpg" alt=""></i></a>
      </div>
      <div class="instagram">
        <a href=""><img src="/images/logos/instagram-logo.jpg" alt=""></i></a>
      </div>
      <div class="youtube">
        <a href=""><img src="/images/logos/youtube-logo.jpg" alt=""></i></a>
      </div>

      <div class="wsp">
        <h3>Contactanos</h3>
        <a href=""><img src="/images/logos/whatsapp-logo.jpg" alt=""></i></a>
      </div>
    </div>
  </footer>