<header>
    <nav class="navbar navbar-light bg-info fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">ZUKUNA STORE</a>
      <a class="navbar-brand" href="/admin">ADMIN</a>
      
          <form class="d-flex" action="/products/searchAdmin" method="GET" >
            <input class="form-control me-2" name="keywords" type="text" placeholder="BUSCAR PRODUCTOS" aria-label="BUSCAR PRODUCTOS">
            <button class="btn btn-light" type="submit">BUSCAR</button>
          </form>
        </div>
      
  </nav>

</header>