<header>
    <!-- menu hamburguesa -->
    <nav>
      <div class="bars"><i class="fas fa-bars"></i></div>
      <!--  logo principal -->
      <div class="logo">
        <a href="/"><img src="/images/logos/zukuna store.png" alt="" /></a>
      </div>

      <!-- buscador-->
      <div class="busqueda">
        <form action=""><input type="text" placeholder="Busqueda" /></form>
        <button><i class="fas fa-search"></i></button>
      </div>
      <!--  register y login -->
      <ul class="enlaces">
        <li class="ingresar"><a href="/users/login">Ingresar</a></li>
        <li class="registrarse">
          <a href="/users/register">Registrarse</a>
        </li>
      </ul>
      <!--  iconos carrito y login -->
      <ul class="carrito-login">
        <li>
          <a href="/login"><i class="fas fa-user"></i></a>
        </li>
        <li>
          <a href="/carrito"
            ><i class="fas fa-shopping-cart"></i></a>
        </li>
      </ul>
      <div class="admin"><a href="/admin"><p>ADMIN</p></a></div>
      <!--  form con categorias -->
      <div class="box-form">
        <select name="categorias" id="categorias">
          <option value="" select hidden>Categorias</option>
          <option value="notebook">Notebook</option>
          <option value="auriculares">Auriculares</option>
          <option value="monitores">Monitores</option>
          <option value="hardware">Hardware</option>
          <option value="mouses">Mouses</option>
        </select>
        <a href="">Ofertas</a>
        <a href="">Contacto</a>
      </div>
    </nav>
  </header>