<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <title>Carrito</title>
    <link rel="stylesheet" href="/stylesheets/styles.css">
</head>

<body class="carrito-body">
    <header class="header-carrito">
        <div>
            <a href="/">
                <h2>x</h2>
            </a>
            <h3>Carrito de compras</h3>
        </div>
    </header>
    <main>
        <div class="product-price-details">
            <img src="/img/juego.jpg" alt="">
            <div class="nombre-cantidad">
                <h5>Resident Evil 2 remake</h5>
                <div class="cantidad">
                    <p> - 1 + </p>
                </div>
            </div>
            <div class="precio-cancelar">
                <i class="fas fa-trash"></i>
                <p>$13.500</p>
            </div>
        </div>
        <hr>
        <div class="info-shipping">
            <div class="envios">
                <div>
                    <h5>Subtotal (sin envío):</h5>
                </div>
                <div>
                    <h5> $13.500</h5>
                </div>
            </div>
            <div class="shipping"><i class="fas fa-truck"></i>
                <h6>Medios de envío</h6>
            </div>
            <div class="calcular-envio">
                <div class="cp">
                    <h3>codigo po...</h3>
                </div>
                <div class="calcular">
                    <h4>CALCULAR</h4>
                </div>
            </div>
            <div class="local"><i class="fas fa-store-alt"></i>
                <h6>Nuestro local</h6>
            </div>
            <div class="direccion">
                <p>Zukuna Store- Av. Yrigoyen 988 70y Galería Boulevard</p>
            </div>
            <hr>
        </div>
        <div class="total">
            <div class="box-1total">
                <div>
                    <h3>Total:</h3>
                </div>
                <div>
                    <h3>$13.500</h3>
                </div>
            </div>
            <h5>O hasta 12 cuotas de $1.125,00</h5>
            <div class="compra"><button>INICIAR COMPRA</button></div>
            <div class="ver-mas">
                <h5>Ver más productos</h5>
            </div>
        </div>
    </main>
    <footer>

    </footer>
</body>

</html>