<!DOCTYPE html>
<html lang="en">

  <%-include('./partials/head') %>


<body class="registro-login">

  <%-include('./partials/header') %>

  <main>

    <div class='contenedor'>
      <form action="">
        <h2 class="fuente2"> Registrarse</h2>
        <!--fullName-->
        <div class='container-input'>
          <input type="text" placeholder="Nombre y Apellido" name="fullName" ;>

        </div>

        <!--userName-->
        <div class='container-input'>
          <input type="text" placeholder="Nombre de usuari@" name="userName" ;>

        </div>



        <h3 class="fuenteNac">Fecha de nacimiento</h3>
        <!--Nacimiento-->
        <div class='container-input'>
          <input type="date" name="date" ;>

        </div>

        <!--Domicilio-->
        <div class='container-input'>
          <input type="text" placeholder="Domicilio" name="domicilio" ;>

        </div>

        <!--Email-->
        <div class='container-input'>
          <input type="email" placeholder="Email" name="mail" ;>

        </div>

        <!--contrase単a-->
        <div class='container-input'>
          <input type="password" placeholder="Contrase単a" name="pass" minlength="8">

        </div>

        <!--repiteContraes単a-->
        <div class='container-input'>
          <input type="password" placeholder="Repetir contrase単a" name="repitepass" ;>

        </div>

        <!--Botones-->
        <div class='container-buttons'>
          <button type="submit"> Enviar </button>

        </div>


      </form>


    </div>

  </main>


  <%-include('./partials/footer') %>

</body>

</html>


</body>

</html>