<%-include('./partials/head') %>

<body class="registro-login">

  <%-include('./partials/header') %>

  <main>

    <div class='contenedor'>
      <form action="" method="POST">
        <h2 class="fuente2"> Registrarse</h2>
        <!--fullName-->
        <div class='container-input'>
          <label for="Nombre y Apellido">Nombre y Apellido</label>
          <input type="text" id="Nombre y Apellido" name="name">
        </div>
        <!--userName-->
        <div class='container-input'>
          <input type="text" name="username" ;>
        </div>
        <!--Email-->
        <div class='container-input'>
          <label for="password">Contraseña</label>
          <input type="password" name="password" minlength="8">
        </div>
        <!--Botones-->
        <div class='container-buttons'>
          <button type="submit"> Enviar </button>
        </div>
      </form>


    </div>

  </main>


  <%-include('./partials/footer') %>

</body>

</html>


</body>

</html>